<!doctype html>
<html lang="{{ lang if lang else 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{% block title %}{% endblock %} - Gemeente Amsterdam</title>
</head>
<body>
    <header class="ams-header">
        <div class="container header-content">
            <div class="logo-wrapper">
                <img src="/static/gemeente_volledig.png" class="ams-logo" />
        
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
